@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #256d7b #ffffff00;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #256d7b;
    border-radius: 10px;
    border: 3px transparent;
    transition: width 0.3s; /* Agregamos una transición suave al cambio de tamaño */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
